body {
  background: #eeeeee;
  margin: 0;
  padding: 0;
}
.chatHead {
  background-image: url("../img/icon.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  top: 0;
  right: 0;
  width: 5em;
  height: 5em;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  border-radius: 3em;
}
