*{
	padding : 0px;
	margin : 0px;
}
body{
	background : #CCC;
	margin: 0;
	padding: 0;
}
.halo{
	max-width:150px;
	height : 150px;
	-webkit-border-radius : 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
	cursor : pointer;
}

.scrollable {
	float : right;		
	position:relative;
	overflow:hidden;
	width: 150px;
	height: 150px;	
	-webkit-border-radius : 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
}

.scrollable .items {
	position:absolute;
	height:20000em;
}